<head>
	<meta charset="UTF-8">
	<title>Chaos Darmstadt e.V.</title>
	<meta description="{{ site.description }}">
	<meta lang="de">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="{{ "css/style.css" | prepend: site.baseurl }}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,700,400' rel='stylesheet' type='text/css'>
	<div id="ergebnis">FOO</div>
</head>
