<header class="header">
		<div class="logo">
			<img src="{{ site.baseurl }}assets/logo.jpg" alt="Logo">
		</div>
		<div class="hero row">
					<div class="col-7 push-2">
						<a href="{{ site.baseurl }}" title ="Home">
							<h1>Chaos Darmstadt e.V.</h1>
						</a>
						<h4>
							{{ site.tagline }}
						</h4>
					</div>
		</div>
		<nav class="nav row">
				<div class="menu col-10 push-1">
					<ul class="nav-l col-9">
						{% for link in site.nav_links.left %}
							<li class="nav-link">
								<a href="{{ link[1] }}">{{ link[0] }}</a>
							</li>
						{% endfor %}
					</ul>
					<ul class="nav-r col-3">
						{% for link in site.nav_links.right %}
							<li class="nav-link-right">
								<a href="{{ link[1] }}">{{ link[0] }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
		</nav>
	</header>
