<header class="header">
		<div class="logo">
			<img src="{{ site.baseurl }}assets/logo.jpg" alt="Logo">
		</div>
		<div class="hero row">
					<div class="col-7 push-2">
						<a href="{{ site.baseurl }}" title ="Home">
							<h1>Chaos Darmstadt e.V.</h1>
						</a>
						<h4>
							{{ site.tagline }}
						</h4>
					</div>
		</div>
		<nav class="nav row">
				<ul class="menu col-8 push-2">
					<li class="nav-item">
						<a href="/">News</a>
					</li>
					<li class="nav-item">
						<a href="/ccc-erfa.html">CCC-ErfA</a>
					</li>
					<li class="nav-item">
						<a href="/hackspace.html">Hackspace</a>
					</li>
					<li class="nav-item">
						<a href="/freifunk.html">Freifunk</a>
					</li>
					<li class="nav-item">
						<a href="/pystada.html">PyStaDa</a>
					</li>
					<li class="nav-item">
						<a href="/c-radar.html">C-RaDaR</a>
					</li>
					<li class="nav-item" style="float: right">
						<a href="/imprint.html">Kontakt</a>
					</li>
					<li class="nav-item" style="float: right">
						<a href="https://wiki.chaos-darmstadt.de/">Wiki</a>
					</li>
				</ul>
		</nav>
	</header>
