$small-break: 40em;
$medium-break: 64em;
$large-break: 90em;
$xlarge-break: 120em;
$infinite: 99999999em;

@mixin break($miw, $maw){
	@media screen and (min-width: $miw) and (max-width: $maw){
		@content;
	}
}

// visibilities

.small-only, .medium-only, .large-only, .xlarge-only, .medium-up, .large-up{
	display: none;
}

@include break(0, $small-break){
	.small-only{
		display: block;
	}
}

@include break($small-break, $medium-break){
	.medium-only, .medium-up{
		display: block;
	}
}

@include break($medium-break, $large-break){
	.large-only, .medium-up, .large-up{
		display: block;
	}
}

@include break($large-break, 999999999px){
	.xlarge-only, .medium-up, .large-up{
		display: block;
	}
}

// Mixins

@mixin small-only{
	@include break(0, $small-break){
		@content;
	}
}

@mixin medium-only{
	@include break($small-break, $medium-break){
		@content;
	}

}

@mixin small-medium{
	@include break(0, $medium-break){
		@content;
	}
}

@mixin medium-up{
	@include break($small-break, $infinite){
		@content;
	}
}

@mixin large-up{
	@include break($medium-break, $infinite){
		@content;
	}
}