hr{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid $hr;
}

a{
	text-decoration: none;
	color: $primary-color;
	-webkit-transition: color .25s ease;
	   -moz-transition: color .25s ease;
	    -ms-transition: color .25s ease;
	     -o-transition: color .25s ease;
	        transition: color .25s ease;
	&:hover{
		color: darken($primary-color, 10%);
	}
}

span.status-open{
	font-weight: bold;
	color: $good-color;
}

span.status-closed{
	font-weight: bold;
	color: $bad-color;
}
