@import "breakpoints";

*, *::before, *::after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$col-name: col;
$columns: 12;
$max: 960px;
$total: 100%;
$gutter: ($total / $columns) / 6;
$column-width: ($total / $columns) - $gutter;

.container{
	clear: both;
	width: $total;
	position: relative;
}

.row{
	max-width: $max;
	margin: 0 auto;
	margin-bottom: $gutter / 5;
	clear: both;
	overflow: hidden;
	position: relative;
	@include small-only{
		margin: 0 20px; 
	}
}

@for $i from 1 through $columns {
	.#{$col-name}-#{$i}{
		width: $i * $column-width + (($i - 1) * $gutter);
		margin: $gutter / 2; 
		padding: $gutter; 
		float: left;
		@include small-only{
			width: $total; 
			margin: ($gutter/2) 0;
		}
	}
	.push-#{$i}{
		@include medium-up{
			margin-left: $i * $column-width + (($i - 1) * $gutter) + $gutter !important;
		}
	}
}