.header{
	background: $primary-color
				url(../assets/header.jpg) center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: relative;

	.menu{
		padding-top: 0;
		padding-bottom: 0;
	}

	.progress {
                position: absolute;
                height: 100%;
                width: 0%;
                background: $primary-color url(../assets/newspace.jpg) repeat fixed center left;
								border-right: $primary-color 2px solid;
                transition: width 2s ease-in-out;
								-webkit-background-size: cover;
								-o-background-size: cover;
								background-size: cover;

								.description {

										position: absolute;
										width: 100%;
										height: 12%;
										background-color: rgb(221, 83, 0);
										bottom: 0px;
										text-align: center;


									p {
								margin: auto;
								line-height: 230%;
								color: white;
								transition: opacity 1.5s ease-in-out;
								opacity: 0;
								}

							}

						}

	.logo{
		height: 10rem;
		padding: 1rem;
		top: 6rem;
		background: $body-bg;
		right:0;
		width: 20rem;
		position:absolute;
		img{
			max-height: 100%;
			width: auto;
		}
		@include small-only{
			display: none;
		}
	}

	.status{
		background: $body-bg;
		position: absolute;
		right: 0;
		top: 1em;
		width: 20rem;
		padding: 0.75em 1em;
	}

	.hero{
		width: 100%;
		margin-top: 3.5rem;
		@include small-only{
			padding-top: 0px;
		}
		h1, h4{
			color: $header-color;
			line-height: 1;
			margin-bottom: 0;
		}
		h1{
			font-weight: 300;
			line-height: 4rem;
			margin-top: 0;
			@include small-only{
				font-size: 3.5rem;
			}
		}
		h4{
			@include small-only{

			}
		}
	}

	.nav{
		margin-bottom: 25px;
		position: block;
		ul{
			list-style: none;
			margin: 0;
			background: $primary-color;
			padding: $gutter;
		}
		li{
			display: inline-block;
		}
		a{
			color: $header-color;
		}
		.nav-l{
			li{
				padding-right: $gutter;
			}

		}
		.nav-r{
			text-align: right;
			li{
				padding-left: $gutter;
				@include small-only{
					padding-right: $gutter;
					padding-left: 0;
				}
			}
			@include small-only{
				text-align: left;
			}
		}
	}
}
