.header{
	background: $primary-color 
				url(../assets/header.jpg) center;
	-webkit-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	overflow: hidden;
	position: relative;	

	.logo{
		height: 10rem;
		padding: 1rem;
		top: 4.5rem;
		background: $body-bg;
		right:0;
		width: 20rem;
		position:absolute;
		img{
			max-height: 100%;
			width: auto;
		}
		@include small-only{
			display: none;
		}
	}

	.row {
		margin: 0px auto;
	}

.hero{
	width: 100%;
	@include small-only{
		padding-top: 0px;
	}
	h1, h4{
		color: $header-color;
	} 
	h1{
		font-weight: 300;
		line-height: 1;
		@include small-only{
			font-size: 3.5rem; 
			line-height: 4.2rem; 
		}
	}
	h4{
		@include small-only{
			 
		}
	}
}

.nav{
	margin-bottom: 25px;
	ul{
		list-style: none;
		margin: 0;
		background: $primary-color;
		li{
			display: inline-block;
			margin-right: $gutter;
			a{
				color: $header-color;
			}
		}
	}
}

}
