@for $i from 1 through 4 {

	h#{$i}{
		$fz:((8 / $i) / $font-scale);
		font-size: #{$fz}rem;
		color: $primary-color; 
		font-family: $font-family;
		font-weight: 300;
		line-height: ($font-scale / (6 / $i / $fz));
		margin-top: ($fz / 3) * 1;
		margin-bottom: ($fz / 3) * 2;
	}
}

p{
	text-align: justify;
	line-height: $font-size * $font-scale;
}