$body-bg: #eee;
$body-color: #555;
$hr: lighten($body-color, 50%);
$header-color: $body-bg;
$primary-color: #dd6300;
$font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size: 14px;
$line-height: 1.5rem;
$font-scale: 1.5;
$font-factor: 3;